/* styles the box around the light/dark mode slider */
.toggle-box {
    display: flex; 
    border: 3px solid black;
    border-radius: 20px; 
    width: 30%;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
}
/* styles the container surrounding all the blog post cards */
.blog-posts {
    border: 3px solid black;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 3%;
}
/* styles the blog post cards themselves */
.blog-post-cards {
    width: 96%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    margin: 5px 0px 5px 10px;
    padding: 1%;
}
/* styles and positions the titles of the blog posts in each card */
.post-title {
    border-bottom: 1px solid black;
    position: relative;
    bottom: 20px;
}
/* styles and positions the content of the blog posts in each card */
.post-content {
    position: relative;
    bottom: 30px;
}
/* styles and positions the author name in each card */
.post-author {
    position: relative;
    top: 25px;
    font-size: 1rem;
    border-radius: 20px;
}

/*I found the code from this line to line 114 at https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* lines 106-123: light and dark styles for toggle functioning */
  .light {
    background-color: white;
    color:black;
    height:100vh;
  }

  .dark {
    background-color: #243447;
    height: 100vh;
    color: #bebebe;
  }

  .dark header, .dark header h1, .dark header a, .dark header div, .dark header div p, .dark header div label,
  .dark header button, .dark main, .dark main div, .dark main div h3, .dark main div p, .dark footer,
  .dark footer h4, .dark footer ul, .dark footer li, .dark footer li a{
    background-color: #243447;
    color: #bebebe;
  }