* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    color:black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid black;
    margin-bottom: 2%;
}

.content {
    width:100%;
    display: flex;
    gap: 3%;
    text-align: center;
}

.content .title-card {
    width: 48%;
    border-right: 4px solid black;
    padding-right: 2%;
}

.content .title-card h1 {
    position: relative;
    bottom: 350px;
    z-index: 1;
}

.content .form-card {
    width: 48%;
    border-left: 4px solid black;
    padding-left: 2%;
}

.form-content input, .form-content label {
    margin-bottom: 4%;
}

input {
    background-color: white;
}

#background-image {
    width: 90%;
    height: 600px;
    border-radius: 25px;
}