.content {
    width:100%;
    display: flex;
    gap: 3%;
    text-align: center;
}

.content .title-card {
    width: 48%;
    border-right: 4px solid black;
    padding-right: 2%;
}

.content .title-card h1 {
    position: relative;
    bottom: 375px;
    left: 190px;
    width: 35%;
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
}

.content .form-card {
    width: 48%;
    border-left: 4px solid black;
    padding-left: 2%;
}


.form-content input, .form-content label {
    margin-bottom: 4%;
    margin-top: 4%;
}

#user-content {
    border: 2px solid black;
    margin-top: 4%;
    resize: none;
}

#background-image {
    width: 90%;
    height: 600px;
    border-radius: 25px;
}

.submission-form {
    border: 3px solid black;
    border-radius: 15px;
}

#submit-button:hover {
    cursor: pointer;
}