* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    color:black;
}

.footer {
    text-align: center;
    border-top: 3px solid black;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin: 8px 0px 8px 0px; 
}

.footer ul a  {
    text-decoration: none;
}