* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    color:black;
}

.footer {
    text-align: center;
    border-top: 3px solid black;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin: 8px 0px 8px 0px; 
}

.footer ul a  {
    text-decoration: none;
}

.button-container {
    width: 30%;
}

#button {
    font-size: 1.5rem;
    background-color: white;
    width: 30%;
    border-radius: 20px;
    position: relative;
    left: 70%
}

#button a  {
    background-color: white;
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    border-bottom: 3px solid black;
    margin-bottom: 3%;
    justify-content: space-between;
}

.header h1 {
    width: 20%;
}